.about {
    padding: 0 55px;
}

.about-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.staff {
    display: flex;
}

.students {
    display: flex;
}

.staff-member {
    padding: 10px;
}

.student-member {
    padding: 10px;
}
