/**
 * Styles used to emulate the EdX container that our application will sit in.
 */

$edx-border-color: #c8c8c8; // from edX

.edx-course-content {
    @extend .mb-4;
    @extend .container;
    max-width: 1200px;  // TBD -- we can set the width of our modal in edX
    border: 1px solid $edx-border-color; // from edX
    padding: 0;
}

.edx-page-header {
    padding: 20px;  // from edX
    border-bottom: 1px solid $edx-border-color; // from edX
}

.edx-page-header a {
    color: #0075b4;
}

.edx-app-main {
    padding: 20px;
}

.edx-sequence-nav {
    width: 90%;
    @extend .btn-group;
    margin-bottom: 20px;
}

.edx-sequence-nav button {
    @extend .btn;
    height: 50px;
    border-color: #e7e7e7;
}

.edx-sequence-nav :last-child,
.edx-sequence-nav :first-child {
    max-width: 120px;
}

.edx-sequence-nav-active-button {
    border-bottom: 3px solid #0075b4 !important;
}

.bottom-buttons {
    margin-top: 250px;
}
