.province-info-text {
    font-size: 20px;
    text-align: center;
}

.campaign-map {
    text-align: center;
}

.button-containers{
    padding-left: 10%;
    text-align: center;
}

.hint_button {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.score-button{
    padding-right: 8% ;
}

.topics{
    margin: 0;
    text-align: center;
}

.country-selector{
    text-align: center;
}

.campaign-container{
    display: flex;
    flex-basis: 0;
    justify-content: center;
}

.map-div{
    width: 58%
}

.speech-maker{
    width: 42%
}
