$edx-border-color: #c8c8c8;
$edx-button-color: #e7e7e7;

.speech-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;

    &_points {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        white-space: pre-wrap; //Makes '\n' display correctly on page
    }
    &_count {
        margin-bottom: 0;
    }
}

.speech-options {
    display: flex;
    flex-basis: 0;
    flex-wrap: wrap;
    justify-content: flex-end;

    .speech-option {
        width: 100%;
        display: flex;

        &_label {
            padding: 0.5em;
            width: 40%;
            font-weight: 700;
        }

        &_btns {
            width: 60%;
            padding: 0.5em;
            display: flex;
            //flex-basis: 0;
            justify-content: space-between;
        }

    }
}

.speech-option-desc {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.campaign-map {
    text-align: center;
}

.province-info-text {
    margin-bottom: 20px;
}

.button-containers{
    padding-left: 10%;
    text-align: center;
}

.score-button{
    padding-right: 8% ;
}

.topics{
    margin: 0;
    text-align: center;
}

.resultTable{
    border: 1px $edx-border-color solid;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;

    td,
    th {
        padding: 0.5em 0;
    }

}

.table-provinces{
    padding: 0.5em !important;
}

.resultHeader{
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.countryResult{
    border: 3px $edx-border-color solid;
}

.result-population {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_header {
        font-weight: 600;
        margin-bottom: 1em;
    }
}

.country-selector {
    position: fixed;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 55%;
    overflow-y: auto;
    background-color: white;
    text-align: center;
    padding: 1.5em;
    border: 2px solid $edx-border-color; // from edX
    border-radius: 8px;
    z-index: 10;

    option {
        background-color: white;
        padding: 0.5em;
    }
    .country-selector_btns {
        justify-content: center;
    }

}

.background {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.campaign-btn {
    background-color: white !important;
    border: 1px solid $edx-border-color;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    margin: 0 auto;
    transition: 0.2s ease-in;

    &:hover {
        background-color: #f7f7f7 !important;
    }
    &:focus {
        outline: none;
    }
}

.speech-btn {
    width: 100px;
    margin: 0 0.5rem;
}

.campaign-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-results {
        margin-bottom: 1em;
        text-align: center;
    }
}

.retry-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#content {
    cursor: pointer;
}

.support {
    color: #5abf5a;
}

.unsupport {
    color: #db5653;
}

.country-header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    width: 100%;
    .close {
        margin: -1.5rem -1rem -1rem;
        font-size: 40px;
        cursor: pointer;
    }
    .country-title {
        font-size: 30px;
        margin: 0 auto;
    }
}

.country-options {
    display: flex;
    margin: 0;
}

.map-col {
    text-align: center;
}
