body {
    padding: 30px;
}

.map-wrapper {
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.country-btn {
    display: flex;
}

.country-btn + .country-btn {
    margin-top: 16px;
}

.input-wrapper {
    position: fixed;
    margin-left: 1050px;
}

.u-flex {
    display: flex;
}

.u-red {
    color: red;
}

.score{
    position : fixed;
    margin-left: 1050px;
    margin-top : 50px;
}

.timer{
    position : fixed;
    margin-left: 1050px;
    margin-top : 100px;
}
