body {
    padding: 30px;
}

.map-wrapper {
}

.list-wrapper {
    position: absolute;
    margin-top: 220px;
    margin-left: 50%;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 16px;
}

.country-btn {
    background: white;
    border-radius: 5px;
}

.country-btn-correct {
    background: #B8E39B !important;
}

.input-wrapper {
    position: absolute;
    margin-left: 50%;
    margin-top: 50px;
}

.input-wrapper input {
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    padding: 4px;
}

.input-wrapper input, .submit-btn {
    margin-left: 8px;
}

.submit-btn, .country-btn, .reset {
    background: white;
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    padding: 4px 8px;
}

.u-flex {
    display: flex;
}

.u-flex-column{
    display : flex;
    flex-direction: column;
    flex-wrap : wrap;
}

.score {
    position : absolute;
    margin-left: 50%;
    font-size: 24px;
}

.timer {
    position : absolute;
    margin-left: 50%;
    margin-top : 100px;
}

.reset {
    position : absolute;
    margin-left: 50%;
    margin-top : 150px;
}

