body {
    background: #c0a16b;
}

.map{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.gradient{
    width: 66%;
    height: 33px;
    background-image: linear-gradient(to left, red, yellow);
    fill: none;
}

.low-label{
    text-indent: 15%;
}
.svgrect{
    width: 70%;
    height: 33px;
    margin-left: 15%;
    margin-right: 15%;
    background-image: linear-gradient(to left, red, yellow);


}

.slidecontainer {
    margin-left: 5%;
    margin-right: 5%;

}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #985f0d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
