.intro_desc{

}

.cyoa-button{
    position: center;
}

.option_selectors_list{
    list-style-type: none;
    padding-inline-start: 0;
}

.option_selector{
    border: 1px solid gray;

    border-radius: 2rem;
    transition: 300ms;
    margin: 0 0 3px 0;
}

.option_selector:hover{
    background: #f7f7f7;
    border: 1px solid #c1c0c0;

}

.option_selector_link{
    /*padding: 10px 0px !important;*/
    /*height: inherit;*/
    width: 100%;
    display: inline-block;
    padding: 1rem 1rem 1rem 0;

}

.option_selector_link:hover{
    text-decoration: none;
}

.option_selector_img{
    max-height: 175px;
    float: left;
    border-radius: 2rem;

    margin-right: 1rem;
    padding-left: 1rem;
}

.option_selector_link p{
    color: black;
    /*padding-top: 40px;*/
}

