.intro_desc{

}

.intro-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.cyoa-button, .end-option {
    border: 1px solid #d0d0d0;
    border-radius: 1rem;
    background: #f7f7f7;
    transition: 0.8s;
    margin-top: 10px;
    padding: 10px;
}

.cyoa-button:hover {
    background: #f0f0f0;
    border: 1px solid #787878;
    cursor: pointer;
}

.cyoa-button a:hover {
    text-decoration: none;
}

.intro-img, .stage-img {
    margin-bottom: 20px;
}

.start-button {
    //border: 1px solid white !important;
    //background-color: #6186b0;
    //color: white;
    text-align: center;
    width: 10em;
}

.start-button:hover {
    //background-color: #6d95c2;
}

.end-button {
    width: 200px;
}

