.colors-black {
	background: $black;
}

.colors-white {
	background: $white;
}

.colors-red {
	background: $red;
}

.colors-color_grey_50 {
	background: $color_grey_50;
}

.colors-color_grey_100 {
	background: $color_grey_100;
}

.colors-color_grey_200 {
	background: $color_grey_200;
}

.colors-color_grey_300 {
	background: $color_grey_300;
}

.colors-color_grey_300 {
	background: $color_grey_300;
}

.colors-color_grey_400 {
	background: $color_grey_400;
}

.colors-color_grey_500 {
	background: $color_grey_500;
}

.colors-color_grey_600 {
	background: $color_grey_600;
}

.colors-color_grey_700 {
	background: $color_grey_700;
}

.colors-color_grey_800 {
	background: $color_grey_800;
}

.colors-color_grey_900 {
	background: $color_grey_900;
}

.colors-color_primary_50 {
	background: $color_primary_50;
}

.colors-color_primary_100 {
	background: $color_primary_100;
}

.colors-color_primary_200 {
	background: $color_primary_200;
}

.colors-color_primary_300 {
	background: $color_primary_300;
}

.colors-color_primary_400 {
	background: $color_primary_400;
}

.colors-color_primary_500 {
	background: $color_primary_500;
}

.colors-color_primary_600 {
	background: $color_primary_600;
}

.colors-color_primary_700 {
	background: $color_primary_700;
}

.colors-color_primary_800 {
	background: $color_primary_800;
}

.colors-color_primary_900 {
	background: $color_primary_900;
}

.colors-color_grey_50 {
	background: $color_grey_50;
}

.colors-color_grey_100 {
	background: $color_grey_100;
}

.colors-color_grey_200 {
	background: $color_grey_200;
}

.colors-color_grey_300 {
	background: $color_grey_300;
}

.colors-color_grey_400 {
	background: $color_grey_400;
}

.colors-color_grey_500 {
	background: $color_grey_500;
}

.colors-color_grey_600 {
	background: $color_grey_600;
}

.colors-color_grey_700 {
	background: $color_grey_700;
}

.colors-color_grey_800 {
	background: $color_grey_800;
}

.colors-color_grey_900 {
	background: $color_grey_900;
}
