.colors-white {
  background: $white;
}
.colors-gray-100 {
  background: $gray-100;
}
.colors-gray-200 {
  background: $gray-200;
}
.colors-gray-300 {
  background: $gray-300;
}
.colors-gray-400 {
  background: $gray-400;
}
.colors-gray-500 {
  background: $gray-500;
}
.colors-gray-600 {
  background: $gray-600;
}
.colors-gray-700 {
  background: $gray-700;
}
.colors-gray-800 {
  background: $gray-800;
}
.colors-gray-900 {
  background: $gray-900;
}
.colors-black {
  background: $black;
}
.colors-blue {
  background: $blue;
}
.colors-dark-blue {
  background: $dark-blue;
}
.colors-indigo {
  background: $indigo;
}
.colors-red {
  background: $red;
}
.colors-yellow {
  background: $yellow;
}
.colors-green {
  background: $green;
}
.colors-slate {
  background: $slate;
}
.colors-magenta {
  background: $magenta;
}
.colors-pale-gray {
  background: $pale-gray;
}
.colors-pale-blue {
  background: $pale-blue;
}
.colors-pale-yellow {
  background: $pale-yellow;
}
.colors-light-green {
  background: $light-green;
}
.colors-light-blue {
  background: $light-blue;
}
.colors-light-red {
  background: $light-red;
}
.colors-light-yellow {
  background: $light-yellow;
}
